.main-nav {
  display: grid;
  background: $white;
  box-shadow: 8px 0 10px -6px $gray;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  z-index: 1;
  width: 15%;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 70%;
  }
}

.nav_buttons {
  display: grid;
  grid-gap: 5px;
  padding: 10vh 0 20vh 30%;
}
