@import url("https://fonts.googleapis.com/css?family=Raleway:600");
@import "variables";
@import "main_nav";
@import "menu_content";
@import "scroller";
@import "about";
@import "menu";

.container {
  background: $gray;
  display: flex;
  width: 1300px;
  height: 700px;
  box-shadow: -7px 10px 40px $shadow;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

button {
  border: none;
  background: none;
}

.button {
  text-decoration: none;
  font-family: $buttonFont;
  color: black;
  letter-spacing: 1px;
  font-size: 11px;
  line-height: 15px;
  &:hover {
    text-decoration: underline;
  }
}
